*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.banner{
    background-image: url(../images/banner-bg.png);
    height: 80vh;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
/* .nav-tab{
    background-color: black;
}
.nav-tab ul li{
    color: white;
    list-style-type: none;
    margin: 5px 10px;
}
.nav-tab ul li:hover{
    cursor: pointer;
}
.nav-tab ul{
    display: flex;
    justify-content: center;
} */

.logo-cart{
    display: flex;
    position: fixed;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}
.logo-background{
    background-color: green;
    margin-top: 0;
}
.logo-cart i{
    color: white;
    font-size: xx-large;
    text-align: right;
}
.logo-cart i:hover{
    cursor: pointer;
    font-size: x-large;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.txt-section{
    margin-top: 100px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: normal;
    line-height: normal;
    font-size: 50px;
    color: rgb(237, 27, 27);
    font-weight: bolder;
}

#product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 23rem;
}
/* Product section */

.product-header{
    text-align: center;
    margin: 30px 0;
}
.product{
    background-color: white;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    /* opacity: 0.5; */
    margin: 0 10px;
    text-align: center;
    text-transform: uppercase;
    color: green;
    height: 50%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-cont{
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
    margin: auto;
}
.img-cont img{
    height: 100%;
    width: 100%;
}
.product h2{
    color: black;
}
.addTo{
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid transparent;
    background-color: rgb(72, 225, 30);
    color: white;
    border-radius: 2rem;
}
.addTo:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: cursive;
}
.cart-holder{
    border: 10px solid yellow;
    display: flex;
}
#cart-items{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-left:20px ;
    border: 2px solid red;
    list-style-type: none;
}
.cart-img{
    width: 10%;
}
.cart-img img{
    width: 100%;
}
.cart-list{
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: space-around;
    align-items: center;
}
.cart-logo{
    font-size: xx-large;
    border: none;
    background-color: transparent;
    color: antiquewhite;
}
.cart-logo span{
    vertical-align: super;
    font-size: large;
    margin-left: .2rem;
}
#cart-Total{
    text-align: right;
    font-size: xx-large;
    padding-right: 30px;
    font-style: italic;
    font-family: cursive
}
/* Delete */
.delete-item:hover{
    background-color: rgba(255, 0, 0, 0.472);
    border: transparent;
    padding: 2px;
    border-radius: 10px;
    cursor:pointer;
}
@media screen and (max-width:1177px) {
    .banner{
        height: 50vh;
        background-size:contain;
    }
    .txt-section h1{
        font-size: 50px;
    }
    
    .product{
        width: 40%;
    }
}
@media screen and (max-width:745px) {
    .product{
        width: 40%;
        margin-bottom: 20px;
    }
}